// teamGameplay.scss
// Styles for Team Gameplay Views

@import "variables";

$teamStatWidth: 300px;

.team-dashboard-container {
  box-sizing: border-box;
  display: inline-block;
  width: 100%;
  min-width: 800px;
  height: 100vh;
  

  .team-dashboard-header {
    background-color: $primaryColor;
    color: $secondaryColor;
    height: 55px;
    box-sizing: border-box;
    padding: 0px 10px;
    line-height: 60px;
    font-weight: 300;
    font-size: 1.8em;
    border-bottom: 1px solid $secondaryColor;

    .header-branding {
      width: 50%;
      display: inline-block;
      font-weight: 700;
    }

    .header-game-name {
      width: 50%;
      display: inline-block;
      text-align: right;
      .game-name {
        font-weight: 500;
      }
    }

  }
}

.team-status-bar {
  vertical-align: top;
  box-sizing: border-box;
  height: 100px;
  background-color: $primaryColor;
  color: $secondaryColor;
  border-bottom: 1px solid $secondaryColor;

  .status-title-container {
    width: calc(100% - #{$teamStatWidth});
    height: 100%;
    display: inline-block;
    vertical-align: top;
    .team-name-container {
      vertical-align: top;
      display: inline-block;
      padding-top: 10px;
      padding-left: 15px;
      height: 100%;
      width: 50%;
      box-sizing: border-box;
      h1, h2 {
        margin: 0;
      }
      h1 {
        font-size: 1.9em;
        font-weight: 600;
      }
      h2 {
        font-size: 1.3em;
        font-weight: 300;
        color: lighten($secondaryColor, 20%);
      }
    }

    .round-count-container {
      padding-top: 10px;
      padding-right: 15px;
      text-align: right;
      display: inline-block;
      height: 100%;
      width: 50%;
      box-sizing: border-box;
      h1, h2 {
        font-weight: 500;
        margin: 0;
      }
    }
  }

  .team-stats-container {
    height: 100%;
    display: inline-block;
    width: $teamStatWidth;
    box-sizing: border-box;
    border-left: solid 1px $secondaryColor;
    .stat-container {
      width: 50%;
      display: inline-block;
      height: 100%;
      vertical-align: top;
      text-align: center;
      position: relative;
      .title {
        font-weight: 500;
        font-size: 1.1em;
        padding: 7px 10px;
        margin: 0;
        text-align: center;
        vertical-align: top;
      }
      .count-container {
        position: absolute;
        bottom: 0;
        text-align: center;
        margin: 0 auto;
        padding-bottom: 10px;
        font-size: 2.2em;
        width: 100%;
        font-weight: 600;
      }
    }
  }
}

.dashboard-workspace-area {
  height: calc(100vh - 155px);
  .workspace-container {
    width: calc(100% - #{$teamStatWidth});
    height: 100%;
    display: inline-block;
    overflow-y: scroll;
    vertical-align: top;
  }
  .sidebar-container {
    width: $teamStatWidth;
    background-color: $primaryColor;
    height: 100%;
    display: inline-block;
    overflow-y: scroll;
    border-left: solid 1px $secondaryColor;
    box-sizing: border-box;
    position: relative;
    // &::after {
    //   content: "";
    //   width: 100%;
    //   height: 30px;
    //   -webkit-box-shadow: inset 0px -35px 15px -32px rgba(0,0,0,0.75);
    //   -moz-box-shadow: inset 0px -35px 15px -32px rgba(0,0,0,0.75);
    //   box-shadow: inset 0px -35px 15px -32px rgba(0,0,0,0.75);
    //   position: fixed;
    //   bottom: 0;
    // }
  }
}

.team-sidebar {
  text-align: center;
  width: 100%;
  color: $secondaryColor;
  padding-bottom: 60px;
  .note {
    padding: 12px 20px;
    font-size: 1.2em;
  }
  .calculation-container {
    width: 100%;
    // height: 500px;
    border-bottom: 1px solid $secondaryColor;
    padding: 15px 0;
    h2 {
      vertical-align: top;
      margin: 0;
      font-weight: 500;
      font-size: 1.8em;
      margin-bottom: 12px;
    }

    &:last-child {
      border-bottom: none;
    }

    .value-container {
      padding: 5px 20px;
      .value-label {
        display: inline-block;
        text-align: right;
        width: 50%;
        font-size: 1.4em;
        vertical-align: middle;
        font-weight: 300;
      }
      .value-value {
        display: inline-block;
        text-align: right;
        width: 50%;
        font-size: 2.5em;
        vertical-align: middle;
        color: $black;
        padding-right: 40px;
        box-sizing: border-box;
        &.loss {
          color: $dangerColor;
        }
        &.gain {
          color: $successColor;
        }
      }
    }

    .result-line {
      height: 1px;
      // margin: 0 auto;
      background-color: lighten($secondaryColor, 10%);
      margin: 10px 20px;
    }
  } 
}
